.elements__like {
    width: 22px;
    height: 19px;
    align-self: center;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
    user-select: none;
    background-color: rgba(0, 0, 0, 0);
    opacity: 1;
    transition-duration: 3s;
}

.elements__like:hover {
    opacity: 0.5;
    transition-duration: 3s;
}