.popup__title {
    margin: 0 0 54px 0;
    width: 330px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width: 597px) {
    .popup__title {
        margin: 0 auto 75px auto;
        font-size: 18px;
        line-height: 22px;
        width: 238px;
    }
}