.title {
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    height: 39px;
}

@media screen and (max-width: 597px) {
    .title {
        font-size: 27px;
        line-height: 33px;
    }
}