.profile__title {
    margin: 0 0 16px 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 302px; 
}

@media screen and (max-width: 597px) {
    .profile__title {
        margin-bottom: 14px;
        padding-top: 0;
        font-size: 27px;
        line-height: 33px;
        max-width: 189px; 
    }
}