.close-popup {
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 67.42%;
    top: 25vh;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../images/CloseIcon.png);
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 597px) {
    .close-popup {
        flex-direction: column;
        left: 84%;
        top: 12vh;
    }
}