.profile__edit-text {
    margin-top: 41px;
    background-image: url('../../../images/Vector.svg');
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 1;
    transition-duration: 3s;
}

.profile__edit-text:hover {
    opacity: 0.6;
    transition-duration: 3s;
}

@media screen and (max-width: 597px) {
    .profile__edit-text {
        margin-top: 8px;
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}