.popup__container_theme_avatar {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .popup__container_theme_avatar {
    width: 300px;
    height: 280px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container_theme_avatar {
    width: 282px;
  }
}