.profile__avatar {
    display: flex;
    flex-direction: row;
    position: relative;
}

@media screen and (max-width: 597px) {
    .profile__avatar {
        flex-direction: column;
    }
}