@import url(../vendor/normalize.css);
@import url(../fonts/Inter/inter.css);
@import url(../blocks/main/main.css);
@import url(../blocks/page/page.css);


/* секция header-----------------------------------------------------------------------------*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__main/header__main.css);
@import url(../blocks/header/__logo/header__logo.css);
/* ------------------------------------------------------------------------------------------*/

/* секция profile-----------------------------------------------------------------------------*/
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/__edit-text/profile__edit-text.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit/profile__edit.css);
/* ------------------------------------------------------------------------------------------*/


/* секция profile-----------------------------------------------------------------------------*/
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup-image/popup-image.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__text/popup__text.css);
/* ------------------------------------------------------------------------------------------*/


/* секция profile-----------------------------------------------------------------------------*/
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__cards/elements__cards.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__texts/elements__texts.css);
@import url(../blocks/elements/__text/elements__text.css);
@import url(../blocks/elements/__like/elements__like.css);
@import url(../blocks/elements/__like/_active/elements__like_active.css);
/* ------------------------------------------------------------------------------------------*/


/* секция footer------------------------------------------------------------------------*/
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
/* -----------------------------------------------------------------------------------------*/