.profile__rectangle {
    margin-top: 41px;
    background-image: url('../../../images/Vector.png');
    border: 2px solid #FFFFFF;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media screen and (max-width: 597px) {
    .profile__rectangle {
        margin-top: 8px;
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}